<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.4.0" targetFramework="net452" />
  <package id="DeviceId" version="6.2.0" targetFramework="net452" />
  <package id="DeviceId.Windows" version="6.2.0" targetFramework="net452" />
  <package id="DeviceId.Windows.Wmi" version="6.2.0" targetFramework="net452" />
  <package id="MahApps.Metro" version="2.4.9" targetFramework="net452" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net452" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net452" />
  <package id="SharpRaven" version="2.4.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
</packages>
